body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background: grey;
}

.container {
    width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #000000;
}

h2 {
    text-align: center;
}

.form-area {
    margin-bottom: 20px;
}

.form-area input {
    width: 96%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    align-items: center;
}

.form-area button {
    width: 100%;
    padding: 10px;
    background: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
}

.action-btn {
    margin-right: 5px;
    padding: 5px 10px;
    background: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background: #ffa500;
}

.delete-btn {
    background: #f44336;
}